@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic);

body{
    font-family: Open Sans;
    width: 300px;
    height: 450px;
}

.tab {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 400px;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
#understoodTab{
    width: 113px;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 10px 10px 16.5px;
  transition: 0.3s;
}


.tab button:hover {
  background-color: #ddd;
}


.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
} 